// // src/styles/Header.scss
// header {
//   display: flex;
//   justify-content: space-between;
//   padding: 10px 20px;

//   img {
//     height: 50px;
//   }

//   a {
//     text-decoration: none;
//     color: #000;
//   }
// }

img {
  height: 50px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
